{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "include": ["src/**/*.ts"],
  "exclude": ["node_modules/**"]
}
